<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Collector_client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1F390801BEF295E00B23A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F390971BEF295E00B23A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F390A21BEF295F00B23A4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
